{% extends 'layout.twig' %}

{% block content %}
<form method="POST">
  <div class="card">
    <h4 class="card-header">Asistencias</h4>
    <div class="body p-3">
      <h4>Tomar asistencia del personal</h4>
      <div class="row my-3">
        
        {% if not personnel %}
          <div class="col-12">
            <select name="unit_id" class="form-control form-control-lg" required>
              <option value="">Seleccione</option>
              {% for unit in combat_units %}
                <option value="{{ unit.primary_id_field }}">{{ unit.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% else %}
          <div class="col-12 my-3">
            <div class="card">
              <div class="card-header">
                <h5>Personal</h5> 
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table text-left">
                    <thead>
                      <tr>
                        <th>Asistencia</th>
                        <th>Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for soldier in personnel %}
                        <tr>
                          <td>
                            <select name="pcls_assistances_points" class="form-control" required>
                              <option value="">Choose...</option>
                              {% for option in attendantOption %}
                              <option value="{{ option.assistance_point_id }}" {% if soldier.attendant == option.assistance_point_id %}select{% endif %}>{{ option.point_abbreviation }}</option>
                              {% endfor %}
                            </select>
                          </td>
                          <td><label>{{ soldier.name }}</label></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        
      </div>
    </div>
    <input type="submit" value="{{ button }}" class="btn btn-outline-info btn-lg btn-block rounded-0">
  </div>
</form>
{% endblock %}
